* {
margin: 0;
padding: 0;
}

.container {
  background: linear-gradient(135deg, rgb(225, 138, 183), brown);
  width: 100%;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  background-color: white;
  min-width: 350px;
  min-height: 858px;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 15px;
}

.title  {
  color: goldenrod;
  text-align: center;
  margin: 80px 0px 40px 0px;
  text-transform: uppercase;
}

.label {
  color: crimson;
  text-transform: capitalize;
}

.name,
.email,
.password,
.confirm-password {
  margin: 20px;
  color: grey;
  font-size: 16px;
}

.password {
  margin-bottom: 40px;
}

.input {
  height: 32px;
  font-size: 20px;
  outline: none;
  width: 100%;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: 2px solid black;
  margin-bottom: 10px;
}

.error {
  color: red;
}

.submit {
  display: flex;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 25px;
  color: white;
  padding: 10px 60px;
  background: linear-gradient(to right, purple, red);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin: auto;
  outline: none;
  cursor: pointer;
  transition: all 0.1s;
}

button:active {
  transform: translateY(2px);
}

.form-success {
  display: flex;
  justify-content: center;
  margin-top: 250px;
  min-width: 370px;
  color: greenyellow;
  text-decoration: underline;
}

@media screen and (max-width: 760px){
  .container{ width: 100%; margin: 0 auto; }
}

.popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;

}

.popup-inner {
  position: relative;
  padding: 32px 32px 32px;
  max-width: 320px;
  min-height: 150;
  background-color: #fff;
  border-radius: 1.5em;

}

.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;

}




